body{
    background-color: black;
}

.card{
    width: 400px;
    height: 200px;
    padding: 1px 20px;
    box-sizing: border-box;
    background-image: url('../assets/backgorund.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;

}

a{
    text-decoration: none;
    color: black;
}

.instagram{
    list-style-image: url(../assets/Insta.png);
}

.twitter{
    list-style-image: url(../assets/Twitter.png);
}

.youtube{
    list-style-image: url(../assets/Youtube.png);
}